<% layout("layouts/boilerplate") %>

<h1>Login</h1>
<form action="/login" method="post">
    <input type="email" id="username" name="username" placeholder="email" required>
    <input type="password" id="password" name="password" placeholder="password" required>
    <button>Login</button>
</form>