<% layout("layouts/boilerplate") %>

<h1>Register</h1>
<form action="/register" method="post">
    <input type="name" id="name" name="name" placeholder="name" required>
    <input type="email" id="username" name="username" placeholder="email" required>
    <input type="password" id="password" name="password" placeholder="password" required>
    <button>Register</button>
</form>