<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Avian</title>

	<!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/auth-styles.css">

	<!-- Favicon -->
  <link rel="icon" type="image/png" sizes="180x180" href="/images/plane.png">

</head>
<body>

	<%- body %>

</body>
</html>